@import "css/normalize.css";
@import url('https://fonts.googleapis.com/css?family=Raleway');

:root {
  --color-primary : #ffd634;
  --color-headings: #fff;
  --color-body    : linear-gradient(#ababab, #fff);
  --color-neutral : #565960;
}

* {
  box-sizing: border-box;
}

* {
  font-family: "Raleway", sans-serif;
}

body {
  margin    : 0;
  padding   : 0;
  background: #ababab !important;
}

/* .home-header {
  background-image   : url(/images/interstellar.jfif);
  background-repeat  : no-repeat;
  background-size    : cover;
  background-position: center center;
  height             : 29rem;
} */

.carousel-slide {
  position                 : absolute;
  width                    : 100%;
  height                   : 40rem;
  top                      : -13rem;
}

.home-h1 {
  font-size  : 3.5rem;
  font-weight: bolder;
  color      : white;
  margin-left: 13rem;
  margin-top : 5rem;
  width      : 12em;
  z-index    : 10;
  position   : relative;
}

.home-h2 {
  font-size    : 0.8rem;
  color        : white;
  margin-left  : 13rem;
  margin-top   : 0rem;
  margin-bottom: 1rem;
  width        : 16rem;
  z-index      : 10;
  position     : relative;

}

.trailer-button {
  background-color: #ffd634;
  font-size       : 1rem;
  color           : black;
  font-weight     : 900;
  margin-left     : 13rem;
  width           : 170px;
  height          : 45px;
  border          : none;
  cursor          : pointer;
  z-index         : 10;
  position        : relative;
}

i {
  position   : relative;
  margin-left: -1.8rem;
  cursor     : pointer;
  z-index    : 10;
}

.button-darken {
  transition: 1.6s;
  filter    : brightness(80%);
  color     : white;
}

.movie-container {
  position           : relative;
  height             : 50rem;
  /* bottom          : 0; */
  top                : 10rem;
  z-index            : 10;
  width              : 80%;
  background-color   : white;
}

.filters {
  display        : flex;
  margin-right   : 2rem;
  justify-content: space-around;
  list-style     : none;
  margin-top     : 2rem;
}

.filters li a {
  text-decoration    : none;
  /* background-color: #565960; */
  color              : black;
  display            : block;
  height             : 3rem;
  width              : 8rem;
  font-size          : 0.9rem;
  font-weight        : bold;
  border-bottom      : 3px solid transparent;
  transition         : border-bottom 0.5s;
  text-align         : center;
}

.filters li a:hover {
  border-bottom: 2px solid #ffd634;
}

.movie-list {
  display              : grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap             : 2px;
}

/* .movie-list .item {
  position        : relative;
  margin-left     : 4rem;
  margin-top      : 2rem;
  text-align      : center;
  width           : 250px;
  height          : 200px;
  background-color: #565960;
} */

.navbar {
  display        : flex;
  position       : relative;
  justify-content: space-between;
  align-items    : center;
  color          : var(--color-headings);
  z-index        : 100;
}

.company-name {
  font-size: 1.5rem;
  margin   : 0.5rem;
}

span {
  color: var(--color-primary);
}

.navbar-links {
  height: 100%;
}

.navbar-links ul {
  display: flex;
  margin : 0;
  padding: 0;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li a {
  display        : block;
  text-decoration: none;
  color          : var(--color-headings);
  padding        : 2.5rem;
  opacity: 0.65;
}

#login {
  margin-left: 20rem;
}

/* .navbar-links li:hover {
  background-color: rgb(192, 184, 184);
} */

.navbar-links li a:hover{
  opacity: 1;
}

.navbar-links .active {
  color: var(--color-primary);
  font-weight: bolder;
  opacity: 1;
}

.toggle-button {
  position       : absolute;
  top            : 0.75rem;
  right          : 1rem;
  display        : none;
  flex-direction : column;
  justify-content: space-between;
  width          : 30px;
  height         : 21px;
}

.toggle-button .bar {
  height          : 3px;
  width           : 100%;
  background-color: var(--color-headings);
  border-radius   : 10px;
}

@media (max-width: 800px) {
  .navbar {
    flex-direction: column;
    align-items   : flex-start;
  }

  .toggle-button {
    display: flex;
  }

  .navbar-links {
    display: none;
    width  : 100%;
  }

  .navbar-links ul {
    width         : 100%;
    flex-direction: column;
  }

  .navbar-links ul li {
    text-align: left;
  }

  .navbar-links ul li a {
    padding: 0.5rem 1rem;
  }

  #login {
    margin-left: 0;
  }

  .navbar-links.active {
    display: flex;
  }
}

main {
  display        : flex;
  flex-wrap      : wrap;
  justify-content: center;
}

.movie {
  width           : 300px;
  margin          : 1rem;
  background-color: var(--color-body);
  box-shadow      : 0 4px 5px rgba(0, 0, 0, 0.2);
  position        : relative;
  overflow        : hidden;
  border-radius   : 3px;
  cursor          : pointer;
}

.movie img {
  width : 100%;
  height: 100%;
}

.booking-container {
  align-items    : center;
  background     : var(--color-body);
  color          : var(--color-headings);
  display        : flex;
  flex-direction : column;
  font-family    : "Raleway", sans-serif;
  height         : 100vh;
  justify-content: center;
  margin         : 0;
}

.option-container {
  /* background: rgba(0, 0, 0, 0.1); */
  padding        : 5px 10px;
  border-radius  : 5px;
  list-style-type: none;
  display        : flex;
  justify-content: space-between;
}

button {
  background        : var(--color-primary);
  margin-bottom     : 3rem;
  -moz-appearance   : none;
  -webkit-appearance: none;
  appearance        : none;
}

i {
  margin-right: 20px;
}

.movie-container select,
.drop-down-container select {
  background-color: var(--color-headings);
  border-radius   : 5px;
  border          : 0;
  font-size       : 14px;
  margin-left     : 10px;
  padding         : 5px 15px 5px 15px;
}

.plus-minus-button {
  -moz-appearance   : none;
  -webkit-appearance: none;
  appearance        : none;
}

.seat-container {
  perspective  : 1000px;
  margin-bottom: 30px;
}

.seat {
  background-color       : var(--color-headings);
  height                 : 17px;
  width                  : 20px;
  margin                 : 3px;
  border-top-left-radius : 10px;
  border-top-right-radius: 10px;
}

.seat.selected {
  background-color: var(--color-primary);
}

.seat.taken {
  background-color: var(--color-neutral);
}

.seat:nth-of-type(3) {
  margin-right: 18px;
}

.seat:nth-last-of-type(3) {
  margin-left: 18px;
}

.seat:not(.taken):hover {
  cursor   : pointer;
  transform: scale(1.2);
}

.saloon .seat:not(.taken):hover {
  cursor   : default;
  transform: scale(1);
}

.saloon {
  background     : rgba(0, 0, 0, 0.1);
  padding        : 5px 10px;
  border-radius  : 5px;
  color          : #777;
  list-style-type: none;
  display        : flex;
  justify-content: space-between;
}

.saloon li {
  display        : flex;
  align-items    : center;
  justify-content: center;
  margin         : 0 10px;
}

.saloon li small {
  margin-left: 4px;
}

.row {
  display        : flex;
  justify-content: center;
}

p.text {
  margin: 5px 0;
}

p.text span {
  color: var(--color-primary);
}