@import "css/normalize.css";
@import url("https://fonts.googleapis.com/css?family=Raleway");

:root {
  --color-primary: #ffd634;
  --color-headings: #fff;
  --color-body: linear-gradient(#ababab, #fff);
  --color-neutral: #565960;
}

* {
  box-sizing: border-box;
}

* {
  font-family: "Raleway", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background: #ababab;
}

.navbar {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  color: var(--color-headings);
}

.company-name {
  font-size: 1.5rem;
  margin: 0.5rem;
}

span {
  color: var(--color-primary);
}

.navbar-links {
  height: 100%;
}

.navbar-links ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li a {
  display: block;
  text-decoration: none;
  color: var(--color-headings);
  padding: 2.5rem;
}

#login {
  margin-left: 20rem;
}

.navbar-links li:hover {
  background-color: rgb(192, 184, 184);
}

.navbar-links .active {
  color: var(--color-primary);
}
