<nav class="navbar">
  <div class="company-name"><span>Film</span>visarna</div>
  <a href="#" class="toggle-button">
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
  </a>
  <div class="navbar-links">
    <ul>
      <li>
        <a class="active" href="/">Home</a>
      </li>
      <li><a href="/movies.html">Movies</a></li>
      <li><a href="/tickets.html">Tickets</a></li>
      <li><a href="#">My bookings</a></li>
      <li><a id="login" href="#">Log in</a></li>
    </ul>
  </div>
</nav>
